*{
	margin:0;
	padding: 0;
}

body{
	font-family: "Gelasio", serif;
	background: #fff url(imagens/fundo.png) repeat-x left top;
}

header {
	width: 750px;
	height: 150px;
	margin: 0 auto;
	background: url(imagens/detalhe-topo.png) no-repeat right top;
	padding-top: 25px;
}

header h1{
	width: 152px;
	height: 66px;
	text-align: center;
	background: url(imagens/logo.png) no-repeat center;
	text-indent: -3000px; /*para não apresentar o texto para o usuario*/
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

header ul{
	margin-top: 30px;
	background: #b10333;
	float: left
}

header ul li{
	float: left;
}

header ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.4em;
	line-height: 2.1em;
	text-decoration: none;
	color: #fff;
	background: url(imagens/divisor.png) no-repeat left center;
}

header ul .primeiro a{
	background: none;
}

header ul a:hover{
	color: #69100d;
}

main a:link, a:visited{
	color: #b10333;
	padding: 2px;
}

main a:hover{
	color: #e50040;
}


body.home ul a#home,
body.brasil ul a#brasil,
body.internacional ul a#internacional,
body.economia ul a#economia,
body.saude ul a#saude,
body.ciencia ul a#ciencia,
body.fotos ul a#fotos
{
	color: #fff;
	background: #de003e;
	cursor: text;
}

main{
	width: 750px;
	height: 150px;
	margin: 0 auto;;
	margin-top: 60px;
}

#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;

}

#primeiro{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;
}

#duas-colunas #primeiro{
	width: 555px;
}

#uma-coluna #primeiro{
	width: 750px;
	margin: 0 0 20px 0;
}

#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px; 
}

.caixa{
	margin: 10px 0;
	padding: 5px 0 5px 0;
	background: #f3f3f3 url(imagens/fundo-caixa.png);

}

h2{
	font-size: 1em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

#lateral ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
	background: #f9f9f9 url(imagens/marcador.png) no-repeat left center;
	padding-left: 20px;
	color: #a1a1a1;
}

label{
	display: block;
	cursor: pointer;
}

input{
	padding: 5px;
	width: 125px;
	font-size: 0.9em;
	background-color: #fff;
}

input.submit{
	width: 80px;
	color: #fff;
	background-color: #b10333;
	border: 2px solid #b10333;
	padding: 5px;
}

img.imagem-principal{
	width: 98%
	border:3px solid #dfdfdf;
	margin-top: 5px;
}

h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

.destaque h3{
	background: #b10333;
	color: #fff;
}

.entrevista h3{
	background: #de003e;
}

#lista-noticias li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#lista-noticias li a img{
	float: left;
	margin: 5px;
}

#lista-noticias li a{
	text-decoration: none;
}

#lista-noticias li a h3{
	font-size: 0.8em;
	padding: 0;
	color: #3e7ab9;
}

#lista-noticias li a p{
	font-size: 0.7em;
	color: #000;
}

#lista-noticias li:hover{
	background: #eee;
	cursor: pointer;
}

footer{
	clear: both;
	background: #294c71;
	padding: 20px;
}

footer div{
	width: 750px;
	margin: 0 auto;
	color: #fff;
}